body{
    background-color: rgb(180, 32, 32);
    color: rgb(255, 255, 255);
}
body{
    background-color: blueviolet;
    color: aqua;
}
h1{
    background-color: wheat;
}
h2{
    background-color: violet;
}
span{
    background-color: burlywood;
}
div{
    background-color: aqua;
    color: black;
    /* padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 40px; */
    /* width: 500px; */
    /* padding: 50px; */
    margin: 0 auto;
    font-size: 55px;
    /* height: 300px; */

    /* border-width: 10px;
    border-style: solid;
    border-color: white; */
    border: 10px solid grey;
}