.box{
    height: 200px;
    width: 200px;
    background-color: rgb(175, 109, 22);
    border: 1px solid #000;
    animation-name: sample;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sample {
    from{background-color: aqua;  ;}
    to{background-color:blue; margin-left:300px; margin-top: 200px; border-radius: 200px};
    
}
